/* Main */

body {
    margin: 0;	
    text-align: center;
    background: #dff9fb;
    color: #130f40;
    line-height: 1.5;
}

main {
	margin: 50px 0;
}

h3 {
	font-style: italic;
	position: relative;
}

h3::after{
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 300px;
    height: 2px;
    transform: translateX(-50%);   
    background: #22a6b3;
}

/* Footer */

footer a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

footer {
	background-color: #22a6b3;
	padding: 20px 0;
}